@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nunito+Sans:wght@700&family=Tai+Heritage+Pro&display=swap');
/* 
Potential Color Scheme (Could Change Later)
Dark Navy Blue: #00005a
Perfect Grey: #969696
White: #ffffff
Light Blue: #88a4dd
Fonts:
"Dosis"
"Nunito Sans"
"Tai Heritage Pro"
*/
* {
    text-align: center;
    color: #4e6d9e;
}
html {
        /*First time doing parallax!*/
        background-image: url(./All\ Media/Home/parallax.jpg);
        padding: 0px;
        min-height: 500px;
        width: 100%;
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
}
body {
    background-color: #fcf6f5;
    width: 66%;
    margin: auto;
}
h1 {
    font-family: "Dosis";
    font-size: 60px;
}
h2 {
    font-family: "Nunito Sans";
    font-size: 40px;
}
h4  {
    font-size: 20px;
}
nav {
    margin: auto;
}
ul {
    padding: 0px;
    list-style-type: none;
    margin: auto;
    display: inline;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
li {
    margin: auto;
    padding: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
a {
    font-family: "Dosis";
}
a:hover {
    color: lightblue;
}
p {
    width: 750px;
    margin: 20px auto 50px auto;
    font-family: "Tai Heritage Pro";
 }
 .introduction h3 {
    font-size: 25px;
 }
 .introduction p {
    font-size: 20px;
 }
 .about img {
    width: auto;
    height: 350px;
 }
 .projects img {
    width: auto;
    height: 350px;
 }
.parallax {

 }
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact img {
    width: auto;
    height: 50px;
}
